
$white: #FFFFFF;
$white-accent: #F4F4F4;
$primary: #160A36;
$primary-accent:#101010;

$elipse-1-background: linear-gradient(162.94deg, rgba(196, 196, 196, 0.1204) 11.4%, rgba(255, 255, 255, 0) 81.73%);
$elipse-2-background: linear-gradient(162.94deg, rgba(196, 196, 196, 0.2881) 11.4%, rgba(255, 255, 255, 0) 81.73%);


.clr-primary {
    color: $primary;
}

.clr-white-accent {
    color: $white-accent;
}