@use './mixins' as mixins;
@import url('https://fonts.cdnfonts.com/css/riffic-free');
@import url('https://fonts.cdnfonts.com/css/poppins');
/* Source:
    - https: //www.cdnfonts.com/riffic-free.font
    - https: //www.cdnfonts.com/poppins.font
 */

@include mixins.responsive-options('ff') {
    &-riffic {
        font-family: 'Riffic Free', sans-serif;
    }

    &-poppins {
        font-family: 'Poppins', sans-serif;
    }
}

@include mixins.responsive-options('fw') {
    &-400 {
        font-weight: 400;
    }
    &-700 {
        font-weight: 700;
    }
}

@include mixins.responsive-options('fs') {
    &-14 {
        font-size: 0.875rem;
    }
    &-16 {
        font-size: 1rem;
    }
    &-18 {
        font-size: 1.125rem;
    }
    &-32 {
        font-size: 2rem;
    }
    &-48 {
        font-size: 3rem;
    }
}

@include mixins.responsive-options('lh') {
    &-21 {
        line-height: 1.3125rem;
    }
    &-24 {
        line-height: 1.5rem;
    }
    &-27 {
        line-height: 1.6875rem;
    }
    &-60 {
        line-height: 3.77125rem;
    }
}

@include mixins.responsive-options('text') {
    &-center {
        text-align: center;
    }
    &-uppercase {
        text-transform: uppercase;
    }
    &-capitalize {
        text-transform: capitalize;
    }
    
    &-disabled {
        color: #000000B2;
    }
}


.cursor-pointer {
    cursor: pointer;
}
