/* 
    Extra Small (XS): Typically for smartphones in portrait mode. Width ranges from 0px to 576px.
    Small (SM): Typically for smartphones in landscape mode or small tablets. Width ranges from 576px to 768px.
    Medium (MD): Typically for tablets and larger smartphones. Width ranges from 768px to 992px.
    Large (LG): Typically for laptops and desktops. Width ranges from 992px to 1200px.
    Extra Large (XL): For larger desktop screens. Width starts from 1200px and beyond.
 */


@mixin very-small-screen() {
    @media screen and (max-width: 576px) {
        @content;
    }
}

@mixin small-screen() {
    @media screen and (min-width: 577px) and (max-width: 768px) {
        @content;
    }
}


@mixin medium-screen() {
    @media screen and (min-width: 769px) and (max-width: 1259px) {
        @content;
    }
}

@mixin large-screen() {
    @media screen and (min-width: 1260px) and (max-width: 1399px) {
        @content;
    }
}

@mixin very-large-screen() {
    @media screen and (min-width: 1400px) {
        @content;
    }
}


@mixin least-small-screen {
    @include very-small-screen {
        @content;
    }

    @include small-screen {
        @content;
    }
}


@mixin least-medium-screen {
    @include least-small-screen {
        @content;
    }

    @include medium-screen {
        @content;
    }
}


@mixin least-large-screen() {
    @include large-screen {
        @content;
    }

    @include very-large-screen {
        @content;
    }
}

@mixin custom-scrollbar() {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    // scrollbar-color: red red !important;

    &::-webkit-scrollbar,
    &::-moz-scrollbar {
        width: 12px;

        &-track {
            background: transparent;
            border-radius: 10px;
        }

        &-thumb {
            background: #888;
            border-radius: 10px;
            border: 3px solid transparent;

            &:hover {
                background: #555;
            }
        }
    }
}

@mixin hide-scrollbar() {
    @include custom-scrollbar;

    scrollbar-width: none;
    /* Hide scrollbar */
    -ms-overflow-style: none;
    /* Hide scrollbar in IE 10+ */

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        /* Make scrollbar transparent */
    }

    &::-moz-scrollbar {
        display: none;
    }
}



@mixin responsive-options($cls) {
    .#{$cls} {
        @content;
    }

    .lg-#{$cls} {
        @include least-large-screen {
            @content;
        }
    }

    .md-#{$cls} {
        @include least-medium-screen {
            @content;
        }
    }

    .sm-#{$cls} {
        @include least-small-screen {
            @content;
        }
    }
}