@use './colors' as colors;

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {

    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: colors.$white;
    font-size: 16px;

    // padding-top: 2.8125rem;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul[role="list"] {
    list-style: none;
    padding: 0;
}


img {
    width: 100%;
    height: auto;
    max-height: 100%;
}


input,
textarea {
    font-family: inherit;

    &::placeholder {
        font-family: inherit;
    }
}

main {
    
    &::after,
    &::before {
        content: '';
        position: fixed;

        $size: clamp(500px, 40vw, 711px);
        width:  $size;
        height: $size;

        border-radius: 50%;
        // background-color: red;
        z-index: -1;
    }

    &::before {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(162.94deg, rgba(196, 196, 196, 0.1204) 11.4%, rgba(255, 255, 255, 0) 81.73%);
    }

    &::after {
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
        background: linear-gradient(162.94deg, rgba(196, 196, 196, 0.2881) 11.4%, rgba(255, 255, 255, 0) 81.73%);
    }


}
